<div class="container">
  <div>
    <figure class="text-center">
      <blockquote class="blockquote">
        <p>Auto de Páscoa 2024</p>
      </blockquote>
      <figcaption class="blockquote-footer">
        <cite title="Source Title">Milagres</cite>
      </figcaption>
    </figure>
  </div>
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Cena</th>
          <th scope="col">Música</th>
          <th scope="col">Aúdio</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let auto of autosPascoa">
          <th scope="row">1</th>
          <td>{{auto.nome}}</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
