<div class="m-3">
  <h4>Eventos Ativos</h4>
  <hr />


</div>
<div class="row">
  <div class="card m-3 col-2" style="width: 18rem;" hidden>
    <img src="/assets/notes.jpg" style="width: 2.5em;" class="img-fluid" alt="...">
    <div class="card-body">
      <h5 class="card-title">Auto de Páscoa - 2024</h5>
      <p class="card-text">
        - Milagres<br />
        IC Colina - 25-30 de Abril<br /><br />
        <a href="https://autodepascoa.com/" target="_blank" rel="noopener noreferrer">
          Ingressos
        </a><br /><br />
        <a href="https://www.youtube.com/playlist?list=PLP1Btt0sboKduxUMFQGJMxRICw9kJfH2l" target="_blank">Ouças as
          musicas no Youtube</a>

      </p>

      <div class="d-grid gap-2 d-md-flex justify-content-between">


        <a href="/autospascoa" class="btn btn-primary position-relative">Lista de Músicas</a>


        <a href="https://www.dropbox.com/scl/fo/nqwv10xfsouqpztzytnfi/h?rlkey=ogwvmsjvx01dv27fdzdltn8z3&dl=0"
          target="_blank" class="btn btn-primary position-relative">Audios</a>


      </div>
    </div>
  </div>

  <div class="card m-3 col-2" style="width: 18rem;" hidden>
    <img src="/assets/notes.jpg" style="width: 2.5em;" class="img-fluid" alt="...">

    <div class="card-body col">
      <h5 class="card-title">Ensaios - 2024</h5>
      <p class="card-text">
        - Crescimento<br />
        Escola de Artes - 19h<br /><br />
        <strong>Retirada de Falta</strong><br />
        Não Falte!!!!<br /><br />

      </p>

      <div class="d-grid gap-2 d-md-flex justify-content-between">
        <a href="/ensaios" class="btn btn-primary position-relative">Lista de Músicas</a>
      </div>
    </div>
  </div>

  <div class="card m-3 col-2" style="width: 18rem;" *ngFor="let culto of cultosAhava" [hidden]="!isCultoAtivo(culto)">

    <img src="/assets/notes.jpg" style="width: 2.5em;" class="img-fluid" alt="...">

    <div class="card-body col">
      <h5 class="card-title">Cultos {{ culto.localEvento }} - {{culto.ano}}</h5>
      <p class="card-text">
        - {{culto.nome}}<br />
        <br /><br />
        <strong>{{culto.periodoEvento}}</strong><br />
        Programe-se!!!!<br /><br />
      </p>

      <div class="d-grid gap-2 d-md-flex justify-content-between">
        <a href="/cultos/{{culto.id}}" class="btn btn-primary position-relative">Lista de Músicas</a>
      </div>
    </div>
  </div>


  <div class="card m-3 col-2" style="width: 18rem;" *ngFor="let especial of especiaisAhava" [hidden]="!isEspecialAtivo(especial)">

    <img src="/assets/notes.jpg" style="width: 2.5em;" class="img-fluid" alt="...">

    <div class="card-body col">
      <h5 class="card-title">Especiais {{ especial.localEvento }} - {{especial.ano}}</h5>
      <p class="card-text">
        - {{especial.nome}}<br />
        <br /><br />
        <strong>{{especial.periodoEvento}}</strong><br />
        Programe-se!!!!<br /><br />
      </p>

      <div class="d-grid gap-2 d-md-flex justify-content-between">
        <a href="/especiais/{{especial.id}}" class="btn btn-primary position-relative">Lista de Músicas</a>
      </div>
    </div>
  </div>
</div>
