<div class="container-lg w-auto p-3">
  <div>
    <figure class="text-center">
      <blockquote class="blockquote">
        <p>Ensaios 2024</p>
      </blockquote>
      <figcaption class="blockquote-footer">
        <cite title="Source Title">Ensaios Orquestra - CRESCIMENTO</cite>
      </figcaption>
    </figure>
  </div>
  <div class="text-left">
    <h4>ABRIL</h4>
  </div>
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Música</th>
          <th scope="col">Anotações</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr >
          <td>#</td>
          <td><a href="https://www.dropbox.com/scl/fo/rr4vz2e2hwmcp606sfm9g/ACjzvkXljVa_n2oJh4N66fQ?rlkey=fuk1goobcuut6u4oyij0r927w&dl=0"
            target="_blank" >GIVE THANKS</a> </td>
          <td class="text-dark"></td>
          <td>OK</td>
        </tr>
        <tr >
          <td>#</td>
          <td><a href="#"
            >HOLLY SPIRIT</a> </td>
          <td class="text-dark"></td>
          <td>Montando Pasta</td>
        </tr>

      </tbody>
    </table>
  </div>


</div>
