<form name="editForm" role="form" novalidate (ngSubmit)="create()">
  <div class="modal-header">
    <h4 id="jhi-usuario-heading">Criar Novo Usuário</h4>
    <button type="button" id="cancel-save" class="btn btn-danger" (click)="clear()">
      <i class="fa fa-times"></i><span></span>
    </button>
  </div>
  <div class="modal-body">


  </div>
  <div class="modal-footer">

    <button type="button" id="cancel-save" class="btn btn-secondary ml-1" (click)="clear()">
      <i class="fa fa-ban"></i>&nbsp;<span>Cancel</span>
    </button>
    <button type="submit" id="save-entity" class="btn btn-primary">
      <i class="fa fa-file "></i>&nbsp;<span>Registrar</span>
    </button>
  </div>
</form>
