<nav class="navbar navbar-expand-lg navbar-light bg-light z-3">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">CORO E ORQUESTRA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Início</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Autos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/autospascoa">2024</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>

          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Cultos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown" *ngFor="let culto of cultosAhava">
            <ng-container *ngFor="let culto of cultosAhava">
              <li [hidden]="!isCultoAtivo(culto)">
                <a class="dropdown-item" routerLink="/cultos/{{culto.id}}" > {{culto.localEvento +"/"+
                  culto.datasEvento +
                  culto.mesReferencia }} </a>

                <hr class="dropdown-divider">
              </li>
            </ng-container>
            <ng-container *ngFor="let especial of especiaisAhava">
              <li [hidden]="!isEspecialAtivo(especial)">
                <a class="dropdown-item" routerLink="/especiais/{{especial.id}}"> {{especial.localEvento +"/"+
                  especial.datasEvento +
                  especial.mesReferencia }} </a>

                <hr class="dropdown-divider">
              </li>
            </ng-container>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Ensaios
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/ensaios">Ensaios</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>

          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle disabled" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Natais
          </a>
          <ul class="dropdown-menu " aria-labelledby="navbarDropdown" aria-disabled="true">
            <li><a class="dropdown-item disabled" href="#">2024</a></li>
            <!-- <li><hr class="dropdown-divider"></li> -->
          </ul>
        </li>
      </ul>
    </div>
    <div class="d-flex flex-row-reverse">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item flex-row">
            <span *ngIf="isAuthenticated()">
              <a class="nav-link disabled" aria-current="page" href="#"></a>
            </span>
          </li>
          <li class="nav-item dropdown">
            <span *ngIf="isAuthenticated()">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="fa fa-briefcase fa-fw " aria-hidden="true"></i>
                <span>Administração</span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" routerLink="/usuarios" >Usuários</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" routerLink="#">Eventos</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
              </ul>
            </span>
          </li>
          <li class="nav-item flex-row">
            <span *ngIf="!isAuthenticated()">
              <a class="nav-link active" aria-current="page" routerLink="/acesso">
                <i class="fa fa-user-circle-o fa-fw " aria-hidden="true"></i>
                <span>&nbsp;Acesso</span>
              </a>
            </span>
            <span *ngIf="isAuthenticated()">
              <a class="nav-link active" aria-current="page" href="#">
                <i class="fa fa-user-circle-o fa-fw " aria-hidden="true"></i>
                <span (click)="logout()">&nbsp;Sair</span>
              </a>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
