<nav class="navbar navbar-expand-lg navbar-light bg-light z-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">CORO E ORQUESTRA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Autos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/autospascoa">2024</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>

          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Cultos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown" *ngFor="let culto of cultosAhava">
            <ng-container *ngFor="let culto of cultosAhava">
              <li [hidden]="!isCultoAtivo(culto)">
                <a class="dropdown-item" href="/cultos/{{culto.id}}"> {{culto.localEvento +"/"+
                  culto.datasEvento +
                  culto.mesReferencia }} </a>

                <hr class="dropdown-divider">
              </li>
            </ng-container>
            <ng-container *ngFor="let especial of especiaisAhava">
              <li [hidden]="!isEspecialAtivo(especial)">
                <a class="dropdown-item" href="/especiais/{{especial.id}}"> {{especial.localEvento +"/"+
                  especial.datasEvento +
                  especial.mesReferencia }} </a>

                <hr class="dropdown-divider">
              </li>
            </ng-container>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Ensaios
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/ensaios">Ensaios</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>

          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle disabled" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Natais
          </a>
          <ul class="dropdown-menu " aria-labelledby="navbarDropdown" aria-disabled="true">
            <li><a class="dropdown-item disabled" href="#">2024</a></li>
            <!-- <li><hr class="dropdown-divider"></li> -->

          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
